{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

{% endblock %}

{% block content %}
    {{include "global/smaller_int_field.html" }}
    <p>There are {{ if S5 }}five{{ else }}four{{ endif }} statements listed below. How many of the following statements are true for you? </p>

    <li> {{ S1 }} </li>
    <li> {{ S2 }}  </li>
    <li> {{ S3 }}  </li>
    <li> {{ S4 }}  </li>
    {{ if S5 }}
    <li> {{ S5 }}  </li>
    {{ endif }}


    {{ formfields }}


    {{ next_button }}



{% endblock %}
