{% extends "global/Page.html" %}
{% load otree static %}
<!-- {% load custom_tags %} -->

{% block title %}
    Survey
{% endblock %}

{% block content %}
	<style>
		.otree-title{
			text-align:center;
		}
	</style>
	<p>Thank you for completing this study. You will receive all of your payment via PayPal or Venmo. Please enter the email address or phone number that is connected to your PayPal or Venmo account. Please note that you are responsible to provide the correct information. If your information is not correct, you may not receive your earnings.</p>
	{% formfields %}
	{% next_button %}
{% endblock %}
