{% extends "global/Page.html" %}
{% load otree static %}
<!-- {% load custom_tags %} -->

{% block title %}
    Survey
{% endblock %}

{% block content %}
	<style>
		.otree-title{
			text-align:center;
		}
		ul{
			margin-bottom:0;
		}
	</style>
	{% formfield player.birth_year %}
	{% formfield player.gender %}
	{% formfield player.income %}
	<p>What is your ethnicity?</p>
	{% formfield player.ethnicity %}
	{% formfield player.other %}
	{% formfield player.major %}
	{% next_button %}
{% endblock %}