{% extends "global/Page.html" %}
{% load otree static %}
<!-- {% load custom_tags %} -->

{% block title %}
    Contributions Game – Round {{roundNum}}
{% endblock %}

{% block content %}

	You have {{base_tokens}} tokens as your endowment. Please make your contribution decisions below. Remember, you can only contribute in increments of {{increment}} tokens. Any tokens you do not contribute will be yours to keep.<br><br>
	{{after1}}<b>{{afterb}}</b>{{after2}} 
	<style>
		.otree-title{
			text-align:center;
		}
		.grid2{
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
		.grid3{
			display:grid;
			grid-template-columns:3fr 1fr;
		}
		.wrapper{
			border:2px solid black;
			margin:20px;
			padding:10px;
		}
		
	</style>
	<div class = "grid2">
		<div class = "left wrapper">
			<h5>Group Account A</h5><br>
			<div class="grid3">
				<p>Threshold:</p>
				<p>{{threshold_high}} tokens</p>
				<p>Earnings if threshold is met:</p>
				<p>{{value_high}} tokens</p>
				{% if display_contributions == 1 %}
				<h6><b>Your Group Member's Contribution: </b></h6>
				<h6><b>{{group_a_con|floatformat:0}}</b></h6>
				{% endif %}
			</div>
			{% formfield player.contribution_acc_a %}
		</div>
		<div class = "right wrapper">
			<h5>Group Account B</h5><br>
			<div class="grid3">
				<p>Threshold:</p>
				<p>{{threshold_low}} tokens</p>
				<p>Earnings if threshold is met:</p>
				<p>{{value_low}} tokens</p>
				{% if display_contributions == 1 %}
				<h6><b>Your Group Member's Contribution: </b></h6>
				<h6><b>{{group_b_con|floatformat:0}}</b></h6>
				{% endif %}
			</div>
			{% formfield player.contribution_acc_b %}
		</div>
	</div>
	Please submit your answers when you are ready. 
	{% next_button %}
	
{% endblock %}
