{% extends "global/Page.html" %}
{% load otree static %}
<!-- {% load custom_tags %} -->

{% block title %}
    Please Wait
{% endblock %}

{% block content %}
	Please wait while we form your group. This should not take long.
	<br><br>
	<b>Please do not leave this page.</b>
	<br><br>
	Once your group is constructed the experiment will start immediately.
	<br><br>
	If you do not put your answers in a timely manner, you will be removed from the study. 
	<br><br>
    {% next_button %}

{% endblock %}