{% extends "global/Page.html" %}
{% load otree static %}
<!-- {% load custom_tags %} -->

{% block title %}
	Contribution Game – Earnings from Group Accounts
{% endblock %}

{% block content %}
	Each group member can contribute any of their endowment of {{base_tokens}} tokens to one or both of the group accounts. Each group account will generate a return for the group members <u>if and only if</u> the number of tokens allocated to each group account is greater than or equal to its pre-specified number that is called “threshold”.<br><br> 

	<h5>Group Account A:</h5>

	The threshold for Group Account A is {{threshold_high}} tokens. <br> <br> 

	If the total amount contributed by your group to Group Account A is {{threshold_high}} tokens, you and your group member will <u>each</u> earn {{value_high}} tokens from this account. Otherwise, nobody earns any tokens from this account.<br> <br> 


	<br><h5>Group Account B: </h5>

	The threshold for Group Account B is {{threshold_low}} tokens. <br><br> 

	If the total amount contributed by your group to Group Account B is at least {{threshold_low}} tokens, you and your group member will <u>each</u> earn {{value_low}} tokens from this account. Otherwise, nobody earns any tokens from this account.<br><br> 

	{% formfields %}
	{% delayed_next wait=35000 %}
{% endblock %}
