{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Consent to Participate in Research
{% endblock %}

{% block content %}
<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1></h1>
    <p>Please review the information contained in the form below.</p>
    <iframe src= "{% static informed_consent %}" width="100%" height="500px">
    </iframe>
  </body>
</html>
<!-- 
<p>If you do not consent to participate in this study, please leave this page.</p>

<p>By clicking on the button below, you consent to participate in this study.</p>--> 
{% if consent_link %}
If you are unable to see the embedded form above, please click <a href={{consent_link}} target=_blank>here.</a><br>
{% endif %}

<p> Please click "I Consent" to continue. If you do not consent to be a part of this study, please leave this page now. </p>

<div style="text-align: center;">
    <button name="consent" value= True class="btn btn-primary btn-large">I consent</button>
</div>

{% endblock %}
