{% extends "global/Page.html" %}
{% load otree static %}
<!-- {% load custom_tags %} -->

{% block title %}
    Please read this important message!
{% endblock %}

{% block content %}
	<p>In each round, you have to submit your decisions within {{decision_timer}} seconds.  This is to ensure that this online study proceeds smoothly. If you fail to make your decision on time, the computer will make a random decision on your behalf and you will be removed from the study. If this happens, you will not have a chance to recieve payment from this study.</p><br>
	<p>It is <u>highly unlikely</u> that your group member times out and gets removed from the study. However, if this rare situation occurs, we will inform you on the round summary page. </p><br>
	<p>You have now completed the instructions and you are ready to start the contribution game.</p>

	{% delayed_next %}

{% endblock %}