{% extends "global/Page.html" %}
{% load otree static %}
<!-- {% load custom_tags %} -->

{% block title %}
    Overview
{% endblock %}

{% block content %}

	Welcome!
	<br><br>
	<strong>Please note!
	<ul>
		<li>There will be several Attention Check questions throughout this study meant to test whether you are paying attention. If you fail to correctly complete one or more of these Attention Check questions, you may NOT BE PAID.</li>

		<li>There are also several questions to test your understanding of these instructions. You will not be able to proceed without correctly answering these questions. Thus, please pay close attention to these instructions.</li>

		<li>On most pages, a NEXT button will appear after some delay. This is not a bug. It is to ensure that you have read the instructions/interface.</li>
	</ul></strong>

	<b>What will I have to do?</b><br>
	This study consists of simple economic decisions which will be explained in detail later. The study should take no longer than 20 minutes in total.<br><br>

	<b>How much payment will I receive for my participation?</b><br>
	You will be paid 4 USD for completing the study. Additionally, you will have the opportunity to receive additional bonus payments. <br><br>

	<b>How will payment be made?</b><br>
	During the study, we will be trading in tokens. At the end of the study, any tokens you have received from the tasks will be converted to USD using the following conversion rate: <b>1 token = 1 USD.</b><br><br>

	This experiment will continue over the next 21 days. Once all participants complete this study, we will determine your bonus payments based on the decisions made in the tasks. This bonus payment will be made via the Prolific platform.<br><br>

	Finally, please note that this research <u>does not employ deception</u>. This means that the instructions that you are about to read are true and not deceptive. This is regulated by the researchers’ intuitional ethics committees. <br><br>
	{% delayed_next %}

{% endblock %}
