{% extends "global/Page.html" %}
{% load otree static %}
<!-- {% load custom_tags %} -->

{% block title %}
    Overview
{% endblock %}

{% block content %}

	Welcome! This study consists of simple economic decisions which will be explained in detail later. It should take about 20 minutes in total.
	<br><br>
	<b>Please note!</b>
	<ul>
		<li>There will be several <b>Attention Check</b> questions throughout this study meant to ensure that you are paying attention. If you fail to correctly complete one or more of these Attention Check questions, you may NOT BE PAID.</li>

		<li>There are also several questions to test your understanding of these instructions. You will not be able to proceed without correctly answering these questions. Thus, please pay close attention to these instructions.</li>

		<li>On most pages, <b>a NEXT button will appear after some delay.</b> This is not a bug. It is to ensure that you have read the instructions/interface.</li>
	</ul>

	<b>How much payment will I receive for my participation?</b><br>
	You will have a chance to earn money during this experiment. In particular, at the end of the experiment, we will randomly draw three IDs and the individuals with these IDs will be paid their earnings from a randomly drawn round of the contribution game.<br><br>

	<b>How will payment be made?</b><br>
	During the study, we will be trading in tokens. At the end of the study, any tokens you have received from the tasks will be converted to USD using the following conversion rate: <b>1 token = 1 USD.</b> You will receive all of your earnings via PayPal or Venmo. We will collect your PayPal or Venmo information at the end. <br><br>

	Finally, please note that this research <u>does not employ deception</u>. This means that the instructions that you are about to read are true and not deceptive. This is regulated by the researchers’ intuitional ethics committees. <br><br>
	{% delayed_next wait=90000%}

{% endblock %}
