{% extends "global/Page.html" %}
{% load otree static %}
<!-- {% load custom_tags %} -->

{% block title %}
    Overview
{% endblock %}

{% block content %}

	Welcome!  <br><br>

  This study consists of two parts. At the begining of each part, we will provide instructions in detail. The study should take about 45 minutes in total. <br><br>

	<b>How much payment will I receive for my participation?</b><br>
  You will be paid 5 USD for completing the study. Additionally, you will have the opportunity to receive <b>bonus payments</b> from each part of the study. Thus, please pay close attention to the instructions.<br><br>

	<b>How will I receive my payment?</b><br>
  You will receive all of your earnings via PayPal or Venmo. We will collect your PayPal or Venmo information at the end. <br><br>

  <b>Please note!</b>
  <ul>
    <li>There will be several <b>Attention Check</b> questions throughout this study meant to ensure that you are paying attention. If you fail to correctly complete one or more of these Attention Check questions, you may NOT BE PAID.</li>

    <li>There are also several questions to test your understanding of these instructions. You will not be able to proceed without correctly answering these questions.</li>

    <li>On most pages, <b>a NEXT button will appear after some delay.</b> This is not a bug. It is to ensure that you have read the instructions/interface.</li>
  </ul>


	Finally, please note that this research <u>does not employ deception</u>. This means that the instructions that you are about to read are true and not deceptive. This is regulated by the researchers’ institutional ethics committees. <br><br>
	{% delayed_next wait=30000%}

{% endblock %}
