{% extends "global/Page.html" %}
{% load otree static %}
<!-- {% load custom_tags %} -->

{% block title %}
    A Hypothetical Question
{% endblock %}

{% block content %}
	<style>
		.otree-title{
			text-align:center;
		}
		.grid3{
			text-align:left;
			width:100%;
			display:grid;
			grid-template-columns:3fr 1fr;
			padding:0px 10px;
		}
		.wrapper{
			border:2px solid black;
			margin:10px;
			padding:0;
		}
		.grid2{
			text-align:center;
			display: grid;
			grid-template-columns: 1fr 1fr;
			width:40%;
		}
	</style>
	<p>Now, we would like to make sure that you understand the game instructions. If you have any questions please use Zoom’s chat function to ask your questions to the panelists.</p>
	<div class = "grid2">
		<div class = "left wrapper">
			<h5>Group Account A</h5><br>
			<div class="grid3">
				<p>Threshold:</p>
				<p>{{Constants.threshold_high}}</p>
				<p>Earnings if threshold is met:</p>
				<p>{{Constants.value_high}}</p>
			</div>
		</div>
		<div class = "right wrapper">
			<h5>Group Account B</h5><br>
			<div class="grid3">
				<p>Threshold:</p>
				<p>{{Constants.threshold_low}}</p>
				<p>Earnings if threshold is met:</p>
				<p>{{Constants.value_low}}</p>
			</div>
		</div>
	</div>
	<p>Suppose that your group member contributed 4 tokens to Group Account B. And suppose that you contributed 1 token to Group Account A and 3 tokens to Group Account B. Please answer the following questions for this hypothetical example. </p>
	{% formfields %}
	{% delayed_next %}

{% endblock %}