{% extends "global/Page.html" %}
{% load otree static %}
<!-- {% load custom_tags %} -->

{% block title %}
    General Rules
{% endblock %}

{% block content %}
	In this study, you will play a contribution game for {{total_rounds}} rounds. We will explain the game details on the following screens.<br><br> 

	In each round, you will be randomly and anonymously assigned into a group that consists of {{group_size}} people including you. Your group composition will <b>change</b> across rounds and your group will be randomly formed at the beginning of each round! <br><br> 

	The identity of your group member as well as yours will always be kept <b>anonymous</b> to all participants. <br><br> 

	You will play the contribution game for {{total_rounds}} rounds. At the end of the study, the computer will randomly choose 3 IDs and one of the rounds to be the paying round for the individuals with the chosen IDs. The payment for these individuals will be the earnings in this randomly chosen round. Since nobody knows which individuals and which round will be selected for payment, it is in your best interest to pay equal attention to all rounds. <br><br> 

	{% delayed_next wait=35000 %}

{% endblock %}
