{% extends "global/Page.html" %}
{% load otree static %}
<!-- {% load custom_tags %} -->

{% block title %}
    General Rules
{% endblock %}

{% block content %}
	In this study, you will play a “contribution game” for {{Constants.total_rounds}} rounds. We will explain the game details on the following screens.<br><br> 

	In each round, you will be randomly and anonymously assigned into a group that consists of {{Constants.group_size}} people including you. Your group composition will not stay constant across rounds and your group will be randomly formed at the beginning of each round! <br><br> 

	The identity of your group members as well as yours will always be kept <b>anonymous</b> to all participants. <br><br> 

	You will play the contribution game for {{Constants.total_rounds}} rounds. At the end of this study, the computer will randomly choose one of these rounds to be the paying round. Your bonus payment from this experiment will be your earnings in this randomly chosen round. Since nobody knows which round is the paying round, it is in your best interest to pay equal attention to all rounds. <br><br> 

	{% delayed_next %}

{% endblock %}