{% extends "global/Page.html" %}
{% load otree static %}
<!-- {% load custom_tags %} -->

{% block title %}
    PART 1 - General Rules
{% endblock %}

{% block content %}

 In Part 1, we will be trading in tokens. At the end of the study, any tokens you have received from this part will be converted to USD using the following conversion rate: <b>1 token = 1 USD.</b> <br><br>

 In this part of the study, you will play a contribution game for {{total_rounds}} rounds. We will explain the game details on the following screens.<br><br>

	In each round, you will be randomly and anonymously assigned into a group that consists of {{group_size}} people including you. Your group composition will <b>change</b> across rounds and your group will be randomly formed at the beginning of each round! <br><br>

	The identity of your group member as well as yours will always be kept <b>anonymous</b> to all participants. <br><br>

	You will play the contribution game for {{total_rounds}} rounds. At the end, the computer will randomly choose one of the rounds to be the paying round. Your bonus payment from Part 1 will be your earnings in this randomly chosen round. Since nobody knows which round is the paying round, it is in your best interest to pay equal attention to all rounds.  <br><br>

	{% delayed_next wait=22000 %}

{% endblock %}
