{% extends "global/Page.html" %}
{% load otree static %}
<!-- {% load custom_tags %} -->

{% block title %}
    Please note!
{% endblock %}

{% block content %}
	<style>
		.otree-title{
			text-align:center;
		}
	</style>
	<p>You and group member will simultaneously decide on your contributions to the group accounts. At the end of each round, you will be provided a round <b>summary screen</b> where we provide information about contributions to the group accounts and your earnings in that round.</p><br>

	<p>Finally, your group will be randomly <b>re-constructed</b> at the end of <b>each round.</b></p><br>

	<p>Remember, once you click START, you will have {{ decision_timer }} seconds to make your decisions. <b>If you do not make your decision within {{ decision_timer }} seconds, you will be removed from the study.</b></p>
	{% delayed_next label='START' %}

{% endblock %}