{% extends "global/Page.html" %}
{% load otree static %}
<!-- {% load custom_tags %} -->

{% block title %}
    Please note!
{% endblock %}

{% block content %}
	<style>
		.otree-title{
			text-align:center;
		}
	</style>
	<p>You and your group member will make contribution decisions simultaneously. At the end of each round, you will be provided a round <b>summary screen</b> where we provide information about contributions to the group accounts and your earnings in that round. After reading the information provided on these summary screens, do not forget to click next in a timely manner. This will prevent delays in the experiment. </p><br>

	<p>Finally, you will play the contribution game for 10 rounds, and your group will be randomly <b>re-constructed</b> at the end of <b>each round.</b></p><br>

	<p>Remember, once you click START, you will have {{ decision_timer }} seconds to make your decisions. <b>If you do not submit your decision within {{ decision_timer }} seconds, you will be removed from the study.</b></p>
	{% delayed_next label='START' %}

{% endblock %}
