{% extends "global/Page.html" %}
{% load otree static %}
<!-- {% load custom_tags %} -->

{% block title %}
    Your Role
{% endblock %}

{% block content %}
	<style>
		.otree-title{
			text-align:center;
		}
	</style>
	{% if simultaneous == 0 %}
		<h5>You are Randomly Selected to be the {% if p_id == 1 %}First{% elif p_id == 2 %}Second{% elif p_id == 3 %}Third{% endif %} Mover</h5>
		<p>You are the <em>{% if p_id == 1 %}first{% elif p_id == 2 %}second{% elif p_id == 3 %}third{% endif %} mover</em>. 
		{% if p_id == 1 %}
			This means you will always make your decision first.
		{% elif p_id == 2 %}
			This means you will always make your decision after finding out about your {% if group_size > 2 %}first {% endif %} group member's contribution decisions. Your {% if group_size > 2 %}first {% endif %}group member goes first and makes their own contribution decisions. And then you see their decisions and make your own decision.{% if group_size > 2 %} After that, your remaining group members will have a turn to see all previous decisions and make their own decision.{% endif %}
		{% elif p_id == 3 and group_size == 3 %}
			This means you will always make your decision after finding out about your other group members' contribution decisions. Your other group members go first and make their own contribution decision in turn. And then you see their decisions and make your own decision.
		{% endif %}</p><br>
	{% else %}
		<p>You and your group member will make contribution decisions simultaneously.</p><br>
	{% endif %}

	<p>Your group will be randomly <b>re-constructed</b> at the end of <b>each round.</b></p><br>

  {% delayed_next wait=20000 %}

{% endblock %}
