{% extends "global/Page.html" %}
{% load otree static %}
<!-- {% load custom_tags %} -->

{% block title %}
    You are now ready to start the game
{% endblock %}

{% block content %}
	Thanks for completing the practice round. Now the actual Contribution Game will start and you will be matched with a different participant in each round. Please click "Start" whenever you are ready. Remember, you will have  seconds to submit your decisions.<br><br>
	{% delayed_next label='START' wait=10 %}
{% endblock %}
