{{ block title }}
Survey
{{ endblock }}

{{ block content }}
	<style>
		input.form-control{
			display:inline;
			max-width: 50px;
		}
	</style>
	In this part of our survey, we want to know what you think about the public perceptions on certain issues in the U.S. When you answer the following questions, please think about the <strong>general U.S. population</strong>. 
	<br>
	<br>
	Out of every 100 people in the general US population, I think approximately {% form.pop_manager %} out of 100 would be comfortable having a transgender manager at work.
	<br>
	<br>
	Out of every 100 people in the general US population, I think approximately {% form.pop_emp %} out of 100 would agree that the law should prohibit employment discrimination against transgender individuals.


    {{ next_button }}

{{ endblock }}
